* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #BE0909;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.total-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: row-reverse;
}

.container {
    width: 445px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-color-container {
    background-color: #FFB039;
    width: 100%;
    height: 700px;
}
.name{
    width: 400px;
    height: 72px;
}
.email {
    width: 160px;
    height: 72px;
}
.message-regarding{
    width: 213px;
    height: 72px;
}
.message{
    width: 400px;
    height: 100px;
}
.name input,
.email input,
.message-regarding input,
.message input { 
    border: none;
    border-bottom: 2px solid #9DBEBB;
    background-color: transparent;
    outline: none;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
}
/* using text area for message wasn't working for some reason so used input instead */
input::placeholder {
    color: #FEFFFF;
    background-color: transparent;
    letter-spacing: 5px;
}

input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #02ffff;
}

img {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1;
    width: 50%;
    height: auto;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    width: 600px;
}

.form-info div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
}
.form-info div:hover {
    background-color: rgba(243, 243, 242, 0.1);  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 600px;
    margin-left: 65px;
}

.button-container {
    margin-left: 164px;
    margin-top: 46px;
}
.button{
    background-color: #468189;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 10px 20px; 
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    box-shadow: 0 4px 6px #000000;
    text-align: center;
}
.button:hover {
    background-color: #09872f; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}